$namespace: 'bili';
$separator: '-';

@mixin b($block) {
  $B: $namespace + '-' + $block;
  .#{$B}{
    @content;
  }
}

@mixin sub($modifier) {
  $currentSelector: #{
    & +
    $separator + 
    $modifier + ','
  };
  #{$currentSelector}{
    @content;
  }
}